/*----------------공통부분 시작--------------*/
ul, li{
	list-style-type: none;
}
/*----------------header부분 시작--------------*/
header{
	text-align: center;
}



.userSection{
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	//left: 50%;	
	//position: relative;
}


.userSNSInfo, .userSNSInfoDetail{
	text-align: center;
	list-style-type: none;
	float: left;
	padding: 0px 0px 0px 0px;
}



/*span{
	text-align: center;
}*/




/*-------------------nav부분 시작----------------*/
nav{
	clear: both;
	display:table;
	margin-left: auto;
	margin-right: auto;

}


.tab{
	float: left;
	text-align: center;
}

#position{
	width: 200px;
	height: 100px;
	background: #f1f1f1;
	border-right: solid;
	margin-top: auto;
	margin-bottom: auto;
}


#friend{
	width: 200px;
	height: 100px;
	background: #f1f1f1;
	border-right: solid;
}

#theme{
	width: 200px;
	height: 100px;
	background: #f1f1f1;
	border-right: solid;
}

#news{
	width: 200px;
	height: 100px;
	background: #f1f1f1;
	border-right: solid;
}
/*-------------------section부분 시작----------------*/
.my_position{
	//clear: both;
}


.navList{
	//text-align: left;
	list-style-position: inside;
	padding-left: 0;
	clear: both;
}

.myName{
	//display: block;
	text-align: left;
	list-style: none;
	padding-left: 0;
}